
__pycache__/
*.py[cod]
*.class
*.so
env/
venv/
.venv/
pip-log.txt
.ipynb_checkpoints


.vscode/

*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.pkl
*.pth
*.pt
*.bin
*.onnx
data/
models/
cache/

# Logs & temp
*.log
tmp/
temp/
